.linklist{
border: 1px solid;
margin:2% 0 2% 0;
background-color:#00f7d5;
}
.H{
	
	background-color:#b5b5b5;
	
}
.link{
	border:1px solid;
	margin:10% 40px 4% 0;
	
}
.logo{
	margin: 3% 0 3% 50%;
}
body{
	
	background: #000 url("fon.jpg") no-repeat;
	background-size: 100% 100%;
}
.foot{
background-color:#dcdcdc;
margin:0 0 -30% 0;
}
.right{

}
.links{
	align:right;
}
.tawerka{
	margin:0 0 10% 0;
}
.vishibala{
	color:#d5fdf2;
}