.linklist{
border: 1px solid;
margin:2% 0 0 0;
background-color:#090085;
}
.H{
	
	background-color:#01003e;
	
}
.link{
	border:1px solid;
	margin:10% 20px 4% 20px;
	
}
.logo{
	margin: 1% 0 1% 40%;
}
body{
	
	/*background: #000 url("space.jpg");
	background-size: 35% 35%;       #030094*/
	background-color:#020053;
}
.foot{
background-color:#01003e;
margin:30% 0 0 0;
}
.right{
color:#00bdbf;
}
.links{
	align:right;
}
.tawerka{
	margin:0 0 10% 0;
}
.vishibala{
	color:#d5fdf2;
}
.Zagolovok{
	text-align:center;
}