/*.png{
	transform: rotate(270deg);
}*/
.imgblock{
	text-align:center;
}
.H{
	text-align:center;
	/*margin: 2.5% 0 5% 0;*/
	color:#a08e81;
}
.Logo{
	background-color:#231e1a;
	padding: 20px 15px 40px 15px;
	margin:-10px -8px 0 -8px;
}
body{
	background-color:#ded0c6;
position:relative;
}
/*footer{
	background-color:#502201;
	padding:20px 15px 20px 15px ;
	
}*/
footer {
    background-color: #231e1a;
   
    padding: 40px 40% 40px 40%;
	margin:1px -8px -10px -8px;
    text-align: center;
   position:absolute;
bottom:0px;
}
.F{
	/*margin: 5% 0 5% 0;*/
	color:#a08e81;
	text-align:center;
	font-size:110%;
}
.image{ 
	border:1px solid;
}
.menu{
	margin: 0.3% 0.3% 0.3% 0.3%;
}
.footline{
	width:8%;
	position: absolute;
	margin-left:-4%;
	
	left:50%;
	top:20%;
	background-color:#a88575;
	height:1px;
}
.body_menu{
text-align:center;
color:#905c36;
font-size:170%;
padding:5% 0 5% 0;
}
.line{
	width:8%;
	position: absolute;
	margin-left:-4%;
	
	left:50%;
	
	background-color:#905c36;
	height:1px;
}
.contacts{
/*text-align:center;*/
color:#905c36;
font-size:170%;
padding:3% 0 2% 0;
}
.contact{
color:#272726;
}
